<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/chat.css}">
	<title>Insert title here</title>
</head>

<body>
	<h1>チャットルーム</h1>
	<form method="get" action="#" th:action="@{/complete}" th:object="${chat}">
		<p><input type="text" name="name1" placeholder="お名前" /> &ensp;:&ensp;<input type="text" name="comment1" placeholder="コメント:500文字まで。Enterキーでも投稿できます。" size="60" /> <input type="submit" value="投稿" />
		</p>
	</form>
	<section class="section"></section>
	<table>
		<tr>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="res1 : ${dbList1}">
			<td class="size" th:text="${res1.name}"></td>
			<td th:text="${res1.comment}"></td>
		</tr>
	</table>

</body>

</html>